@import "../global.css";

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(ellipse at center, #fafafc 0%, #f0f2fa 60%, #e5e8f4 100%);
  min-height: 100vh;
}
